#include "tmr.dtsi"

&kscan_adc_top {
    first {
        io-channels = <&adc 0>;
        // deadzone-top = <>;
        // deadzone-bottom = <>;
        calibration-min = <2095>;
        calibration-max = <3286>;
    };
    second {
        io-channels = <&adc 1>;
        // deadzone-top = <>;
        // deadzone-bottom = <>;
        calibration-min = <2067>;
        calibration-max = <3245>;
    };
};

&kscan_adc_bot {
    first {
        io-channels = <&adc 2>;
        // deadzone-top = <>;
        // deadzone-bottom = <>;
        calibration-min = <2072>;
        calibration-max = <3232>;
    };
    second {
        io-channels = <&adc 3>;
        // deadzone-top = <>;
        // deadzone-bottom = <>;
        calibration-min = <2193>;
        calibration-max = <3278>;
    };
};

&central_listener{
    status = "okay";
};


&raw_sp {
    sample-div = <1>;
};

&he_transform {
    status="okay";
};

&he_keymap {
    status = "okay";
};
