#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* pos 0: kscan dummy
               pos 1-4: stick0 up/down/left/right
               pos 5-6: stick1 left/right */
            bindings = <
                &none
                &kp A &kp B &kp C &kp D
                &kp X &mo 1
            >;
        };

        mouse_layer {
            /* Stick0 in mouse mode — no keymap bindings needed.
               Stick1 keeps same bindings (X key + mo 1). */
            bindings = <
                &none
                &none &none &none &none
                &kp X &mo 1
            >;
        };
    };
};
